
:root {
    --primary: #00B074;
    --secondary: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
}

.container-1 {
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
   position: relative;
}
.header-imag{
    background-image: url(images/slider-hom1.png);
    display: block;
    background-size: cover;
    height: 400px;
    z-index: 0;
    background-attachment: fixed;
    position: relative;
}
header{
    position: relative;
    
} 

.container1-fluid{
    margin-top: 20px !important;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    
}
.container1-xxl {
    max-width: 100%;
}
.container2-fluid{
    width: 100%;
}
.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}
.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}
.navbar-dark .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}
.btn-link {
    font-weight: 400 ;
    color: #00B074;
    text-decoration: none;
}
.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


